@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background: url('https://img.freepik.com/premium-photo/blue-growth-graph-business-chart-data-diagram-success-financial-presentation-background-with-abstract-up-arrow-bar-symbol-finance-marketing-price-statistic-economy-market-profit-investment_79161-2364.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.bg-image1 {
  background: url('https://static.vecteezy.com/system/resources/previews/006/430/145/non_2x/technology-background-concept-circuit-board-electronic-system-futuristic-hi-tech-light-on-dark-blue-free-vector.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image2 {
  background: url('https://png.pngtree.com/background/20240413/original/pngtree-d-rendering-of-a-responsive-web-design-displayed-on-devices-in-picture-image_8468515.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image3 {
  background: url('https://static.vecteezy.com/system/resources/previews/011/004/883/non_2x/triangular-abstract-with-security-symbol-circuit-board-modern-future-website-background-or-cover-page-for-technology-and-finance-concept-and-education-future-company-vector.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 
https://static.vecteezy.com/system/resources/previews/011/004/883/non_2x/triangular-abstract-with-security-symbol-circuit-board-modern-future-website-background-or-cover-page-for-technology-and-finance-concept-and-education-future-company-vector.jpg */